html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  justify-self: center;
  align-self: center;
}

.app {
height: 370px;
border: 1px dashed black;
width: 400px;
padding: 8px;
display: flex;
flex-direction: column;
}

.tools {
  border-bottom: 3px solid white;
  display: flex;
  height: 60px;
  gap: 1px;
  background-color: gray;
}

.btn {
  flex: 1;
  background: white;
  border: none;
}

.canvas {
  border: 1px dashed black;
  flex: 1;
}