html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  justify-self: center;
  align-self: center;
}

.app {
height: 370px;
border: 1px dashed black;
width: 400px

}

footer {
  justify-content: end;
}
.tools {
justify-content: space-between;
}
