html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  justify-self: center;
  align-self: center;
}

.app {
  border: 1px solid black;
  padding: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.sect-1{
height: 32px;
}

.sect-2 {
  display: flex;
  flex-direction: row;
}

.tools {
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: gray;
  align-self: flex-start;
}

.btn {
  background: white;
  border: none;
  width: 68px;
  height: 68px;
  padding: 0;
  font-size: xx-large;
}

.canvas {
  border: 1px solid black;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(224, 224, 224);
  gap: 1px;
  height: 500px;
  width: 500px;
  padding: 8px;
  position: relative;
  z-index: 10;
}

.deep-sect {
  margin: 0 6px;
}

div.resolution {
  z-index: 0;
  margin: -18px 0 -14px;
  height: 30px;
  width: inherit;
  border: 1px solid silver;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
}

.resolution>button {
  background-color: white;
  margin-top: -14px;
  padding: 2px 8px;
  border: none;
  height: fit-content;
  font-size: medium;
  color: gray;
}

.palette {
  width: 68px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.palette>div {
  flex: 1;
  border: 1px solid silver;
}
